absl-py
accelerate
acres
aiofiles
aiohttp
aioresponses
aiosignal
altair
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
astunparse
async-lru
attrs
av
babel
beautifulsoup4
bidict
bleach
blinker
branca
cachetools
certifi
cffi
charset-normalizer
ci-info
click
cloudpickle
colorama
coloredlogs
comm
comtypes
configobj
configparser
contourpy
cryptography
ctranslate2
cycler
debugpy
decorator
deep-translator
deepface
defusedxml
distlib
distro
Django
django-background-tasks
django-compat
djangorestframework
dnspython
docx
ecdsa
et-xmlfile
etelemetry
executing
faiss-cpu
fastapi
faster-whisper
fastjsonschema
ffmpeg-python
filelock
fire
fitz
Flask
flask-cors
Flask-Login
Flask-SocketIO
Flask-SQLAlchemy
flatbuffers
folium
fonttools
fpdf
fqdn
frozenlist
fsspec
future
fuzzywuzzy
gast
gdown
geographiclib
geopy
git-filter-repo
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
google-pasta
googleapis-common-protos
greenlet
grpcio
grpcio-status
gTTS
gunicorn
h11
h5py
httpcore
httplib2
httpretty
httpx
huggingface-hub
humanfriendly
idna
imageio
imageio-ffmpeg
intel-openmp
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
isoduration
itsdangerous
jax
jaxlib
jedi
Jinja2
jiter
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
keras
kiwisolver
langdetect
libclang
llamaapi
llvmlite
looseversion
lxml
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
mkl
ml_dtypes
more-itertools
moviepy
mpmath
mtcnn
multidict
namex
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nibabel
nipype
notebook
notebook_shim
numba
numpy
ollama
onnxruntime
openai
openai-whisper
opencv-contrib-python
opencv-python
openpyxl
opt_einsum
optree
packaging
panda
pandas
pandocfilters
parso
pathlib
pdf2image
pillow
platformdirs
playsound
prettytable
proglog
prometheus_client
prompt_toolkit
proto-plus
protobuf
prov
psutil
psycopg2
pure_eval
puremagic
pyarrow
pyasn1
pyasn1_modules
PyAudio
pycparser
pycryptodome
pydantic
pydantic_core
pydeck
pydot
pydub
Pygments
pymongo
PyMuPDF
pyparsing
PyPDF2
pypiwin32
pyreadline3
PySocks
python-dateutil
python-docx
python-dotenv
python-engineio
python-jose
python-json-logger
python-multipart
python-socketio
python-Wappalyzer
pyttsx3
pytube
pytz
pywin32
pywinpty
pyxnat
PyYAML
pyzmq
rdflib
referencing
regex
reportlab
requests
retina-face
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
seaborn
Send2Trash
sentence-transformers
sentencepiece
setuptools
shap
simple-websocket
simplejson
six
slicer
smmap
sniffio
sounddevice
soupsieve
SpeechRecognition
SQLAlchemy
sqlparse
stack-data
starlette
streamlit
streamlit-folium
sympy
tbb
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
termcolor
terminado
tf_keras
threadpoolctl
tiktoken
tinycss2
tokenizers
toml
torch
torchaudio
torchvision
tornado
tqdm
traitlets
traits
transformers
typing-inspection
typing_extensions
tzdata
uri-template
uritemplate
urllib3
uv
uvicorn
virtualenv
virtualenvwrapper-win
virustotal-python
watchdog
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
wheel
widgetsnbextension
wrapt
wsproto
xgboost
xyzservices
yarl
youtube-transcript-api
yt-dlp